  <div class="col-sm-6">
    <img src="images/geek.jpg" alt="", style="width:100px;height:100px">
  </div>
<h2>Courses Table</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Items</th>
      </tr>
    </thead>
    <tbody>
      <% courses.forEach(course=> { %>
      <tr>
        <td><%=course.title%></td>
        <td><%=course.description%></td>
        <td><%=course.items%></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
