<div class="data-form">
  <form class="form-singin" action="/courses/create" method="POST">
    <h2 style="font-size: 22px">Register a new course</h2>
    <label for="inputTitle">Title</label> <br>
    <input type="text" name="title" id="inputTitle" placeholder="Title" autofocus> <br>
    </br>
    <label for="inputDescripton">Description</label> <br>
    <input type="text" name="description" id="inputDescripton" placeholder="Description..."> <br> 
    </br>
    <label for="inputItems">Items</label> <br>
    <input type="text" name="items" id="inputItems" placeholder="item1, item2..."d> <br>
    </br>
    <label for="inputZipCode">Zip code</label> <br>
    <input type="text" name="zipCode" id="inputZipCode" pattern="\d*" placeholder="Zip Code" required> <br>
    </br>
    <button class="btn btn-primary btn-lg btn-block" style="background-color: #0080FF" type="submit" >Register</button>
  </form>
</div>
