<form action="/users/login", method="POST">
    <h2>Login:</h2>
    <label for="inputUsername">User name </label>
    <input type="text" name="username" id="inputUsername" placeholder="Your User name" required>
    <br>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" placeholder="Your Password" required>
    <br>
        <button class="btn btn-primary" type="submit">Login</button>
</form>
